#content1{
    color: black;
    padding: 100px 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#aboutEvent{
    margin: 0 10px;
}

#aboutWorkshop{
    margin: 0 10px;
}

#aboutProject{
    margin: 0 10px;
}
#abouth1{
    padding: 40px 0;
    justify-content: center;
    display: flex;
    color: white;
}
#type{
    justify-content: center;
    display: flex;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
}
