.body{
  scroll-behavior: smooth
}
#intro{
  background: #0F9D58
}
#navbar{
  scroll-behavior: smooth
}

#aboutUs:hover{
  background-color: #4285F4;
  transition: 0.3s;
}
#team:hover{
  background-color: #DB4437;
  transition: 0.3s;
}
#events:hover{
  background-color:#F4B400;
  transition: 0.3s;
}
#contactUs:hover{
  background-color :#0F9D58;
  transition: 0.3s;
  
}
#dsc{
  height: 15%;
  width: 15%;
  padding: 5px;
}

#introDiv{
  background-image: url('./images/webpage/intro.jpeg');
  /* filter: blur(2px); */
  background-repeat: no-repeat; 
  background-size: cover;
  
}
#content{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.slider-wrapper{
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider {
  height: 50px;
  padding-left: 15px; 
  overflow: hidden;
}
.slider div{
  color:black;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;

}
.slider-text1{
  background: lightgreen;
  animation: slide 5s linear infinite;
}
.slider-text2{
  background: skyblue;
}
.slider-text3{
  background: orange;
}
@keyframes slide{
  10% {margin-top:-300px}
  5% {margin-top:-200px}
  33% {margin-top:-200px}
  38% {margin-top:-100px}
  66% {margin-top:-100px}
  71% {margin-top:0px}
  100% {margin-top:0px}
}